/* src/pages/dashboardui/DashboardMain.css */

.dashboardmain-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #f9fafb;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.dashboard-title {
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  color: #000000;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
