body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Ensure all elements respect padding inside width */
* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

