/* src/pages/dashboard/DashboardLayout.css */

.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* For large screens - row layout */
@media (min-width: 768px) {
  .dashboard-container {
    flex-direction: row;
  }

  /* .dashboard-main {
    margin-left: 260px;
  } */
}

.dashboard-main {
  flex-grow: 1;
  width: 100%;
}
